.button:disabled {
}

.button {
    -fx-background-color: #1976D2;
    -fx-text-fill: #1e2a31;
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: #2196F3;
    -fx-text-fill: #22313a;
}