.button:disabled {
}

.button {
    -fx-background-color: #388E3C;
    -fx-text-fill: #1e2a31;
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #22313a;
}

.title-bar {
    -fx-background-color: #388E3C;
}

.mini-button {
    -fx-text-fill: #22313a;
}

.close-button {
    -fx-text-fill: #22313a;
}
