.button:disabled {
}

.button {
    -fx-background-color: #D32F2F;
    -fx-text-fill: #1e2a31;
}

.button:hover {
    -fx-background-color: #F44336;
    -fx-text-fill: #22313a;
}

.title-bar {
    -fx-background-color: #D32F2F;
}

.mini-button {
    -fx-text-fill: #1e2a31;
}

.mini-button:hover {
    -fx-background-color: #D32F2F;
    -fx-focus-traversable: false;
}

.close-button {
    -fx-text-fill: #1e2a31;
}