.button:disabled {
}

.button {
    -fx-background-color: #FBC02D;
    -fx-text-fill: #1e2a31;
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: #FFEB3B;
    -fx-text-fill: #22313a;
}

.title-bar {
    -fx-background-color: #FBC02D
}

.mini-button {
    -fx-text-fill: #1e2a31;
}

.mini-button:hover {
    -fx-background-color: #FFEB3B;
    -fx-focus-traversable: false;
}

.close-button {
    -fx-text-fill: #1e2a31;
}