.button:disabled {
    -fx-background-color: #1e2a31;
    -fx-text-fill: #b4bfc3;
}

.button {
    -fx-text-fill: #b4bfc3;
    -fx-padding: 0 7 0 7;
}

.button:hover {
    -fx-background-color: #388E3C;
    -fx-text-fill: #1e2a31;
}