.rootVBox {
    -fx-background-color: #22313a;
}

.button:disabled {
    -fx-opacity: 1;
    -fx-background-color: #b4bfc3;
    -fx-text-fill: #1e2a31;
}

.button {
    -fx-background-color: rgba(255, 255, 255, .025);
    -fx-text-fill: #b4bfc3;
    -fx-focus-traversable: false;
}

.versionText {
    -fx-fill: #b4bfc3;
}

.button:hover {
    -fx-background-color: #2b3942;
    -fx-text-fill: #edeff0;
}

.update:hover {
}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.title-bar {
    -fx-background-color: #1e2a31;
    -fx-font-size: 13px;
}

.rollbackTitledPane {
    -fx-text-fill: #b4bfc3;
}

.rollbackTitledPane > .title {
    -fx-background-color: #22313a;
    -fx-border-color: #2b3942;
}

.rollbackTitledPane > *.content {
    -fx-background-color: #22313a;
    -fx-box-border: #2b3942;
}

.getRollbackDatesButton:hover {
    -fx-background-color: #b4bfc3;
    -fx-text-fill: #1e2a31;
}

.min-button {
    -fx-text-fill: #b4bfc3;
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-padding: 4px;
}

.min-button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #1e2a31;
    -fx-focus-traversable: false;
}

.mini-button {
    -fx-text-fill: #b4bfc3;
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-padding: 4px;
}

.mini-button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #1e2a31;
    -fx-focus-traversable: false;
}

.close-button {
    -fx-text-fill: #b4bfc3;
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-padding: 4px;
}

.close-button:hover {
    -fx-text-fill: #1e2a31;
    -fx-background-color: #D32F2F;
    -fx-focus-traversable: false;
}