.rootVBox {
    -fx-background-color: #22313a;
}

.button:disabled {
}

.button {
    -fx-background-color: #22313a;
    -fx-text-fill: #b4bfc3;
    -fx-focus-traversable: false;
}

.versionText {
    -fx-fill: #b4bfc3;
}

.button:hover {
    -fx-background-color: #2b3942;
    -fx-text-fill: #edeff0;
}

.update:hover {
}

.tab {
    -fx-background-color: #22313a;
}

.tab .tab-label {
    -fx-text-fill: #b4bfc3;
}

.tab:selected {

}

.tab:selected .tab-label {
    -fx-text-fill: #edeff0;
    -fx-background-color: rgba(255, 255, 255, .025);
    -fx-background-insets: -5 -5 -5 -5;
}

.tab:hover .tab-label {
    -fx-background-color: #2b3942;
    -fx-text-fill: #edeff0;
    -fx-background-insets: -5 -5 -5 -5;
}

.tab:hover {

}

.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

.tab-pane .tab-header-area {
    -fx-padding: 10 0 10 10;
    -fx-background-color: #22313a;
}

.tab-pane .tab-header-background {
    -fx-background-color: #22313a;
}

.title-bar {
    -fx-background-color: #1e2a31;
    -fx-font-size: 13px;
}

.rollbackTitledPane {
    -fx-text-fill: #b4bfc3;
}

.rollbackTitledPane > .title {
    -fx-background-color: rgba(255, 255, 255, .025);
}

.rollbackTitledPane > *.content {
    -fx-background-color: #22313a;
    -fx-box-border: rgba(255, 255, 255, .025);
}

.min-button {
    -fx-text-fill: #b4bfc3;
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-padding: 4px;
}

.min-button:hover {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #1e2a31;
    -fx-focus-traversable: false;
}

.close-button {
    -fx-text-fill: #b4bfc3;
    -fx-font-family: Verdana;
    -fx-font-size: 14px;
    -fx-padding: 4px;
}

.close-button:hover {
    -fx-text-fill: #1e2a31;
    -fx-background-color: #D32F2F;
    -fx-focus-traversable: false;
}