<?xml version="1.0" encoding="windows-1251"?>
<config>
    <project projectName="back" serverName="" salesDirName="D:\foldersales\">
        <component
                componentName="srvTest"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\"
                componentDirName="D:\foldertarget\"/>
        <component
                componentName="srvTest2"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest2\"
                componentDirName="D:\foldertarget\srvTest2\"/>
        <component
                componentName="srvTest3"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest3\"
                componentDirName="D:\foldertarget\srvTest3\"/>
        <component
                componentName="srvTest4"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest4\"
                componentDirName="D:\foldertarget\srvTest4\"/>
        <component
                componentName="srvTest5"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest5\"
                componentDirName="D:\foldertarget\srvTest5\"/>
        <component
                componentName="srvTest6"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest6\"
                componentDirName="D:\foldertarget\srvTest6\"/>
        <component
                componentName="srvTest7"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest7\"
                componentDirName="D:\foldertarget\srvTest7\"/>
        <component
                componentName="srvTest8"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest8\"
                componentDirName="D:\foldertarget\srvTest8\"/>
        <component
                componentName="srvTest9"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest9\"
                componentDirName="D:\foldertarget\srvTest9\"/>
        <component
                componentName="srvTest10"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest10\"
                componentDirName="D:\foldertarget\srvTest10\"/>
        <component
                componentName="srvTest11"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest11\"
                componentDirName="D:\foldertarget\srvTest11\"/>
        <component
                componentName="srvTest12"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest12\"
                componentDirName="D:\foldertarget\srvTest12\"/>
        <component
                componentName="srvTest13"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest13\"
                componentDirName="D:\foldertarget\srvTest13\"/>
        <component
                componentName="srvTest14"
                serviceName="Uralsib_srvQUIK"
                lastVersionDirName="D:\foldersource\srvTest14\"
                componentDirName="D:\foldertarget\srvTest14\"/>
        <component
                componentName="srvTest15"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest15\"
                componentDirName="D:\foldertarget\srvTest15\"/>
        <component
                componentName="srvTest16"
                serviceName="Uralsib_srvRisks"
                lastVersionDirName="D:\foldersource\srvTest16\"
                componentDirName="D:\foldertarget\srvTest16\"/>
        <component
                componentName="srvTest17"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest17\"
                componentDirName="D:\foldertarget\srvTest17\"/>
        <component
                componentName="srvTest18"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest18\"
                componentDirName="D:\foldertarget\srvTest18\"/>
    </project>

    <project projectName="mid" serverName="\\qsoft4\">
        <component
                componentName="srvTest"
                serviceName="OPEN_srvCBonds"
                lastVersionDirName="D:\foldersource\srvTest\"
                componentDirName="D:\foldertarget\srvTest\"/>
        <component
                componentName="srvTest2"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest2\"
                componentDirName="D:\foldertarget\srvTest2\"/>
        <component
                componentName="srvTest3"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest3\"
                componentDirName="D:\foldertarget\srvTest3\"/>
        <component
                componentName="srvTest4"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest4\"
                componentDirName="D:\foldertarget\srvTest4\"/>
    </project>

    <project projectName="cap" serverName="\\qsoft2\">
        <component
                componentName="srvTest"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest\"
                componentDirName="D:\foldertarget\srvTest\"/>

        <component
                componentName="srvTest2"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest2\"
                componentDirName="D:\foldertarget\srvTest2\"/>
    </project>

    <project projectName="crm" serverName="\\qsoft3\">

    </project>

    <project projectName="depo" serverName="\\qsoft4\">
        <component
                componentName="srvTest"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest\"
                componentDirName="D:\foldertarget\srvTest\"/>

        <component
                componentName="srvTest2"
                serviceName="depoQort_srvDocMaker"
                lastVersionDirName="D:\foldersource\srvTest2\"
                componentDirName="D:\foldertarget\srvTest2\"/>

        <component
                componentName="srvTest3"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest3\"
                componentDirName="D:\foldertarget\srvTest3\"/>

        <component
                componentName="srvTest4"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest4\"
                componentDirName="D:\foldertarget\srvTest4\"/>

        <component
                componentName="srvTest5"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest5\"
                componentDirName="D:\foldertarget\srvTest5\"/>

        <component
                componentName="srvTest6"
                serviceName="2GISUpdateService"
                lastVersionDirName="D:\foldersource\srvTest6\"
                componentDirName="D:\foldertarget\srvTest6\"/>
    </project>
</config>
