.button:disabled {
}

.button {
    -fx-background-size: 100% 100%;
    -fx-background-color: #FA8072, #d2584a, #FA8072;
    -fx-background-insets: 1;
    -fx-background-radius: 2;
    -fx-border-color: #d2584a;
    -fx-border-radius: 2;
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: #e66c5e, #d2584a, #e66c5e;
}