.button:disabled {
}

.button {
    -fx-background-size: 100% 100%;
    -fx-background-color: #98FB98, #c0c0c0, #98FB98;
    -fx-background-insets: 1;
    -fx-background-radius: 2;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 2;
    -fx-focus-traversable: false;
}

.button:hover {
    -fx-background-color: #8ef18e, #c0c0c0, #8ef18e;
}